<launch>

  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find irb_robot)/rviz/irb.rviz" />
  <arg name="source_list" default="[set_angles]"/>

  <param name="robot_description"
    command="xacro --inorder '$(position_pub)/robots/epson_t6.xacro'" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <rosparam param="source_list" subst_value="True">$(arg source_list)</rosparam>
    </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  <node name="user_interface" pkg="position_pub" type="user_interface" output="screen"
        launch-prefix="gnome-terminal --command" />

</launch>
